.vscode/
.idea/
src/Services/Catalog/Catalog.API/obj
/src/Services/Catalog/Catalog.API/bin/
/.idea/
/src/BuildingBlocks/EventBus/EventBus/obj/
/src/BuildingBlocks/EventBus/EventBus/bin/
/src/BuildingBlocks/EventBus/EventBusRabbitMQ/bin/
/src/BuildingBlocks/EventBus/EventBusRabbitMQ/obj/
/src/BuildingBlocks/EventBus/EventBus.Test/bin/
/src/BuildingBlocks/EventBus/EventBus.Test/obj/
/src/Services/Identity/IdentityTest/bin/
/src/Services/Identity/IdentityTest/obj/
/src/Services/Identity/Identity/bin/
/src/Services/Identity/Identity/obj/
